h1.title {
  padding: 5px 5px 5px 10px;
  color: white;
  background: dimgray;
}

h2.title {
  padding: 3px 3px 3px 5px;
  color: white;
  background: dimgray;
}

h3.title {
  padding: 3px 3px 3px 5px;
  border-bottom: 2px solid gray;
}

h4.title {
  padding: 3px 3px 3px 5px;
  border-bottom: 2px solid gray;
}

div.article {
  margin: 30px 30px 30px 30px;
}

div.caution {
  background: mistyrose;
}
div.warning {
  background: mistyrose;
}
div.important {
  background: mistyrose;
}
div.note {
  background: cornsilk;
}
div.tip {
  background: cornsilk;
}

pre.programlisting {
  border-width: 1px;
  border-color: gray;
  border-style: solid;
  color: black;
  background-color: lightgray;
}

div.screen {
  border-width: 1px;
  border-color: gray;
  border-style: solid;
  color: black;
  background-color: lightgray;
}

code.filename {
  color: brown;
  font-style: italic;
}

span.application {
  color: navy;
  font-style: italic;
}

span.guimenu {
  color: navy;
  font-style: italic;
}

span.guimenuitem {
  color: navy;
  font-style: italic;
}

span.guilabel {
  color: navy;
  font-style: italic;
}

span.guimenu {
  color: navy;
  font-style: italic;
}

em.parameter {
  color: navy;
  font-style: italic;
}

code.sgmltag-element {
  color: navy;
  font-style: italic;
}

.table-contents table {
    border-collapse: collapse;
    border: 1px solid gray;
}
.table-contents th {
    background-color:lightgray;
    border: 1px solid gray;
    padding: 5px 5px;
}
.table-contents td {
    border: 1px solid gray;
    padding: 5px 5px;
}
.table-contents .note table, .table-contents .note th, .table-contents .note td,
.table-contents .tip table, .table-contents .tip th, .table-contents .tip td {
    border: none;
    background-color: cornsilk;
}
.table-contents .warning table, .table-contents .warning th, .table-contents .warning td,
.table-contents .caution table, .table-contents .caution th, .table-contents .caution td,
.table-contents .important table, .table-contents .important th, .table-contents .important td {
    border: none;
    background-color: mistyrose;
}

body {
  font-family: gill, helvetica, sans-serif;
  font-size: 12pt;
}
