body {
	font-family: "ƒqƒ‰ƒMƒmŠpƒS Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "ƒƒCƒŠƒI",
		Meiryo, "‚l‚r ‚oƒSƒVƒbƒN", "MS PGothic", sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: #333333;
	background-color: #ffffff;
}