<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.7"?>
<plugin>

	<extension point="org.eclipse.ui.views">
		<category id="tubame.wsearch.category"
			name="%view.category.name">
		</category>
		<view
			name="%view.GenericSearchResultView.name"
			category="tubame.wsearch.category"
			class="tubame.wsearch.ui.view.WSearchResultView"
			id="tubame.wsearch.ui.view.GenericSearchResultView"
			allowMultiple="true">
		</view>
	</extension>

	<extension point="org.eclipse.ui.editors">
		<editor
			name="%view.GenericSearchResultView.name"
			extensions="gjbm"
			launcher="tubame.wsearch.ui.editor.WSearchResultViewLauncher"
			id="tubame.wsearch.ui.view.GenericSearchResultView">
		</editor>
	</extension>

	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="org.eclipse.jdt.ui.JavaPerspective">
			<view ratio="0.5" relative="org.eclipse.ui.views.ProblemView"
				relationship="right"
				id="tubame.wsearch.ui.view.GenericSearchResultView"
				visible="false">
			</view>
		</perspectiveExtension>
	</extension>

	<extension point="org.eclipse.ui.popupMenus">
		<objectContribution id="Contribution" objectClass="org.eclipse.core.resources.IResource"
			adaptable="true">
			<menu id="tubame.menu1" label="%menu1.label"
				path="additions">
				<separator name="wsearch"/>
			</menu>
			<action
				class="tubame.wsearch.popup.actions.ExecuteGenericSearch"
				enablesFor="1" id="tubame.generic.newAction" label="%newAction.label"
				menubarPath="tubame.menu1/wsearch">
			</action>
		</objectContribution>
		<objectContribution id="Contribution" objectClass="org.eclipse.core.resources.IFile"
			nameFilter="*.gjbm" adaptable="true">
			<action
				class="tubame.wsearch.popup.actions.WSearchResultsViewOpenAction"
				id="WSearchResultsViewOpenAction"
				label="%actions.WSearchResultsViewOpenAction.label.name"
				enablesFor="1" menubarPath="tubame.menu1/wsearch">
			</action>
		</objectContribution>
	</extension>

	<extension point="org.eclipse.ui.preferencePages">
		<page
			class="tubame.portability.plugin.preferences.TubamePreferenceTop"
			id="tubame.portability.plugin.preferences.TubamePreferenceTopPage"
		>
		</page>
		<page category="tubame.portability.plugin.preferences.TubamePreferenceTopPage"
			class="tubame.wsearch.ui.preferences.WSearchPreferenceTop"
			id="tubame.wsearch.ui.preferences.Page1" name="%preferences.Page1.name">
		</page>
		<page category="tubame.wsearch.ui.preferences.Page1"
			class="tubame.wsearch.ui.preferences.LibraryRepositoryPreferencePage"
			id="tubame.wsearch.ui.preferences.Page2" name="%preferences.Page2.name">
		</page>
		<page category="tubame.wsearch.ui.preferences.Page1"
			class="tubame.wsearch.ui.preferences.SrcSearchFilterPreferencePage"
			id="tubame.wsearch.ui.preferences.Page3" name="%preferences.Page3.name">
		</page>
	</extension>

</plugin>
