<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.7"?>
<plugin>

	<!-- org.eclipse.ui.perspectives -->
	<extension point="org.eclipse.ui.perspectives">
		<perspective
			class="tubame.knowhow.plugin.ui.perspective.Perspective"
			id="MaintenanceKnowhowPerspective" name="%perspective.name" />
	</extension>

	<!-- org.eclipse.ui.views -->
	<extension point="org.eclipse.ui.views">
		<category id="tubame.knowhow.category"
			name="%category.name" />
		<view category="tubame.knowhow.category"
			class="tubame.knowhow.plugin.ui.view.KnowhowEntryView"
			id="tubame.knowhow.maintenance.portability.ui.view.KnowhowEntryView"
			name="%view.name" restorable="true" />
  <view
        category="tubame.knowhow.category"
        class="tubame.knowhow.plugin.ui.view.KnowhowEntryCheckItemView"
        id="tubame.knowhow.maintenance.portability.ui.view.KnowhowEntryCheckItemView"
        name="%checkitem.view.name"
        restorable="true">
  </view>
	</extension>

	<!-- org.eclipse.ui.viewActions -->
	<extension point="org.eclipse.ui.viewActions">
		<viewContribution
			id="tubame.knowhow.maintenance.portability.ui.viewContribution_01"
			targetID="tubame.knowhow.maintenance.portability.ui.view.KnowhowEntryView">
			<action
				class="tubame.knowhow.plugin.ui.action.DeleteEntryItemAction"
				icon="resources/icons/delete_item.png"
				id="tubame.knowhow.maintenance.portability.ui.actions.DeleteItemAction"
				label="%action.label" style="push" toolbarPath="additions" tooltip="%action.tooltip.2">
			</action>
			<action
				class="tubame.knowhow.plugin.ui.action.UpDownItemAction"
				icon="resources/icons/item_down.png"
				id="tubame.knowhow.maintenance.portability.ui.actions.DownItemAction"
				label="%action.label.0" style="push" toolbarPath="additions"
				tooltip="%action.tooltip.4">
			</action>
			<action
				class="tubame.knowhow.plugin.ui.action.UpDownItemAction"
				icon="resources/icons/item_up.png"
				id="tubame.knowhow.maintenance.portability.ui.actions.UpItemAction"
				label="%action.label.1" style="push" toolbarPath="additions"
				tooltip="%action.tooltip.3">
			</action>
		</viewContribution>
	</extension>

	<!-- org.eclipse.ui.editors -->
	<extension point="org.eclipse.ui.editors">
		<editor
			class="tubame.knowhow.plugin.ui.editor.multi.MaintenanceKnowhowMultiPageEditor"
			default="false" extensions="xml"
			id="tubame.knowhow.maintenance.portability.editors.multi.KnowhowMultiEditor"
			name="%editor.name">
		</editor>
	</extension>

	<!-- org.eclipse.ui.newWizards -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard
			class="tubame.knowhow.plugin.ui.wizard.commencement.MaintenanceKnowhowWizard"
			finalPerspective="MaintenanceKnowhowPerspective" icon="resources/icons/save_knowhow.png"
			id="tubame.knowhow.plugin.ui.wizard.commencement.MaintenanceKnowhowWizard"
			name="%wizard.name">
			<description>
				%wizard.description
			</description>
			<selection class="org.eclipse.core.resources.IResource">
			</selection>
		</wizard>
	</extension>

	<!-- org.eclipse.ui.editorActions -->
	<extension point="org.eclipse.ui.editorActions">
		<editorContribution
			id="tubame.knowhow.maintenance.editorContribution1"
			targetID="tubame.knowhow.maintenance.portability.editors.multi.KnowhowMultiEditor">
			<action
				class="tubame.knowhow.plugin.ui.action.DocumentationViewAction"
				icon="resources/icons/view_docBook.png"
				id="tubame.knowhow.maintenance.portability.ui.actions.DocumentationViewAction"
				label="%action.label.2" style="push" toolbarPath="additions"
				tooltip="%action.tooltip">
			</action>
			<action
				class="tubame.knowhow.plugin.ui.action.SaveOutputAction"
				icon="resources/icons/save_knowhow.png"
				id="tubame.knowhow.maintenance.portability.ui.actions.SaveKnowhowAction"
				label="%action.label.3" style="push" toolbarPath="additions"
				tooltip="%action.tooltip.0">
			</action>
			<action
				class="tubame.knowhow.plugin.ui.action.SaveOutputAction"
				icon="resources/icons/save_document.png"
				id="tubame.knowhow.maintenance.portability.ui.actions.SaveDocBookAction"
				label="%action.label.4" style="push" toolbarPath="additions"
				tooltip="%action.tooltip.1">
			</action>
		</editorContribution>
	</extension>

	<!-- org.eclipse.ui.popupMenus -->
	<extension point="org.eclipse.ui.popupMenus">
		<viewerContribution
			targetID="org.eclipse.core.runtime.xml.source.EditorContext"
			id="tubame.knowhow.maintenance.viewerContribution0">
			<menu
				id="tubame.knowhow.maintenance.portability.ui.actions.InsertDocBookTag"
				label="%menu.label" path="additions">
				<separator name="DocBook">
				</separator>
			</menu>
			<action
				class="tubame.knowhow.plugin.ui.action.InsertTagMenuAction"
				enablesFor="*"
				id="tubame.knowhow.maintenance.portability.ui.actions.InsertVarlistentryTag"
				label="%action.label.5"
				menubarPath="tubame.knowhow.maintenance.portability.ui.actions.InsertDocBookTag/DocBook"
				state="true" style="push">
			</action>
			<action
				class="tubame.knowhow.plugin.ui.action.InsertTagMenuAction"
				enablesFor="*"
				id="tubame.knowhow.maintenance.portability.ui.actions.InsertImageTag"
				label="%action.label.6"
				menubarPath="tubame.knowhow.maintenance.portability.ui.actions.InsertDocBookTag/DocBook"
				state="true" style="push">
			</action>
			<action
				class="tubame.knowhow.plugin.ui.action.InsertTagMenuAction"
				enablesFor="*"
				id="tubame.knowhow.maintenance.portability.ui.actions.InsertCodeTag"
				label="%action.label.7"
				menubarPath="tubame.knowhow.maintenance.portability.ui.actions.InsertDocBookTag/DocBook"
				state="true" style="push">
			</action>
			<action
				class="tubame.knowhow.plugin.ui.action.InsertTagMenuAction"
				enablesFor="*"
				id="tubame.knowhow.maintenance.portability.ui.actions.InsertTableTag"
				label="%action.label.8"
				menubarPath="tubame.knowhow.maintenance.portability.ui.actions.InsertDocBookTag/DocBook"
				state="true" style="push">
			</action>
			<action
				class="tubame.knowhow.plugin.ui.action.InsertTagMenuAction"
				enablesFor="*"
				id="tubame.knowhow.maintenance.portability.ui.actions.InsertTextTag"
				label="%action.label.9"
				menubarPath="tubame.knowhow.maintenance.portability.ui.actions.InsertDocBookTag/DocBook"
				state="true" style="push">
			</action>
			<action
				class="tubame.knowhow.plugin.ui.action.DocBookViewerMenuAction"
				definitionId="tubame.knowhow.maintenance.portability.ui.actions.DocBookViewer"
				id="tubame.knowhow.maintenance.portability.ui.actions.DocBookViewer"
				label="%action.label.10" menubarPath="additions" style="push">
			</action>
		</viewerContribution>
	</extension>

	<!-- org.eclipse.ui.bindings -->
	<extension point="org.eclipse.ui.bindings">
		<key
			commandId="tubame.knowhow.maintenance.portability.ui.actions.DocBookViewer"
			schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" sequence="Ctrl+Alt+V">
		</key>
	</extension>
	<extension point="org.eclipse.ui.commands">
		<category id="tubame.knowhow.category1" name="%category.name.0">
		</category>
		<command categoryId="tubame.knowhow.category1"
			id="tubame.knowhow.maintenance.portability.ui.actions.DocBookViewer"
			name="%command.name">
		</command>
	</extension>

	<!-- org.eclipse.wst.xml.core.catalogContributions-->
	<extension point="org.eclipse.wst.xml.core.catalogContributions">
		<catalogContribution>
			<uri name="http://docbook.org/ns/docbook" uri="resources/xsd/docbook.xsd" />
		</catalogContribution>
	</extension>

</plugin>
