<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.7"?>
<plugin>

	<!-- org.eclipse.ui.perspectives -->
	<extension point="org.eclipse.ui.perspectives">
		<perspective id="SearchPerspective"
			class="tubame.portability.plugin.perspective.SearchPerspective"
			name="%perspective.SearchPerspective.name" />
	</extension>

	<!-- org.eclipse.ui.views -->
	<extension point="org.eclipse.ui.views">
		<category id="tubame.portability.category"
			name="%view.category.name" />
		<!-- CheckListInformationView -->
		<view id="CheckListInformationView"
			class="tubame.portability.plugin.view.CheckListInformationView"
			category="tubame.portability.category" name="%view.CheckListInformationView.name"
			restorable="true" />
		<!-- WorkStatusView -->
		<view id="WorkStatusView"
			class="tubame.portability.plugin.view.WorkStatusView"
			category="tubame.portability.category" name="%view.WorkStatusView.name"
			restorable="true" />
		<!-- HtmlGuideView -->
		<view id="HtmlGuideView"
			class="tubame.portability.plugin.view.HtmlGuideView"
			category="tubame.portability.category" name="%view.HtmlGuideView.name"
			restorable="true" />
		<!-- ConvertView -->
		<view id="ConvertView"
			class="tubame.portability.plugin.view.ConvertView"
			category="tubame.portability.category" name="%view.ConvertView.name"
			restorable="true" />
	</extension>

	<!-- org.eclipse.ui.actionSets -->
	<extension point="org.eclipse.ui.actionSets">
		<actionSet id="MenuAdd.actionSet.delete" label="Delete"
			visible="true">
			<action id="RowDeleteAction" definitionId="tubame.trn.command.rowDelete"
				class="tubame.portability.plugin.action.RowDeleteAction"
				label="%menu.rowDelete.name" toolbarPath="sampleGroup"
				icon="/resources/icons/rowDelete.png" />
			<action id="ConfirmItemDeleteActio" definitionId="tubame.trn.command.confirmDelete"
				class="tubame.portability.plugin.action.ConfirmItemDeleteAction"
				label="%menu.confirmDelete.name" toolbarPath="sampleGroup"
				icon="/resources/icons/confirmDelete.png" />
			<action id="SearchFilterAction" definitionId="tubame.trn.command.searchFilter"
				class="tubame.portability.plugin.action.SearchFilterAction"
				label="%menu.searchFilter.name" toolbarPath="sampleGroup"
				icon="/resources/icons/JbmFilter.png" />
			<action id="SaveCsvAction" definitionId="tubame.trn.command.SaveCsv"
				class="tubame.portability.plugin.action.SaveCsvAction"
				label="%menu.saveCsv.name" toolbarPath="sampleGroup"
				icon="/resources/icons/saveCSV.png" />
		</actionSet>
	</extension>
	<extension point="org.eclipse.ui.commands">
		<command id="tubame.trn.command.rowDelete" name="%menu.rowDelete.name" />
		<command id="tubame.trn.command.confirmDelete"
			name="%menu.confirmDelete.name" />
		<command id="tubame.trn.command.searchFilter"
			name="%menu.searchFilter.name" />
		<command id="tubame.trn.command.SaveCsv" name="%menu.saveCsv.name" />
	</extension>

	<!-- org.eclipse.ui.editors -->
	<extension point="org.eclipse.ui.editors">
		<editor
        class="tubame.portability.plugin.editor.JbmEditorPart"
        default="false"
        extensions="jbm"
        id="JbmEditorPart"
        name="%editor.jbm.name">
  </editor>
	</extension>

	<!-- Marker -->
	<extension id="JBossMigrationMarker" point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.core.resources.marker" />
	</extension>
	<!-- DifficultyLowMarker -->
	<extension id="DifficultyLowMarker" point="org.eclipse.core.resources.markers">
		<super type="tubame.portability.JBossMigrationMarker" />
	</extension>
	<!-- DifficultyMiddleMarker -->
	<extension id="DifficultyMiddleMarker" point="org.eclipse.core.resources.markers">
		<super type="tubame.portability.JBossMigrationMarker" />
	</extension>
	<!-- DifficultyHighMarker -->
	<extension id="DifficultyHighMarker" point="org.eclipse.core.resources.markers">
		<super type="tubame.portability.JBossMigrationMarker" />
	</extension>
	<!-- DifficultyUnknownMarker -->
	<extension id="DifficultyUnknownMarker" point="org.eclipse.core.resources.markers">
		<super type="tubame.portability.JBossMigrationMarker" />
	</extension>
	<!-- DifficultyNotTrnMarker -->
	<extension id="DifficultyNotTrnMarker" point="org.eclipse.core.resources.markers">
		<super type="tubame.portability.JBossMigrationMarker" />
	</extension>

	<!-- org.eclipse.ui.editors.markerAnnotationSpecification -->
	<extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
		<!-- DifficultyLowMarker -->
		<specification icon="/resources/icons/DifficultyLow.png"
			annotationType="DifficultyLowMarkerTypeAnnotation" />
		<!-- DifficultyMiddleMarker -->
		<specification icon="/resources/icons/DifficultyMiddle.png"
			annotationType="DifficultyMiddleMarkerTypeAnnotation" />
		<!-- DifficultyHighMarker -->
		<specification icon="/resources/icons/DifficultyHigh.png"
			annotationType="DifficultyHighMarkerTypeAnnotation" />
		<!-- DifficultyUnknownMarker -->
		<specification icon="/resources/icons/DifficultyUnknown.png"
			annotationType="DifficultyUnknownMarkerTypeAnnotation" />
		<!-- DifficultyNotTrnMarker -->
		<specification icon="/resources/icons/DifficultyNOT_TRN.png"
			annotationType="DifficultyNotTrnMarkerTypeAnnotation" />
	</extension>
	<extension point="org.eclipse.ui.editors.annotationTypes">
		<type name="DifficultyLowMarkerTypeAnnotation" super="org.eclipse.ui.workbench.texteditor.info"
			markerType="tubame.portability.DifficultyLowMarker">
		</type>
		<type name="DifficultyMiddleMarkerTypeAnnotation" super="org.eclipse.ui.workbench.texteditor.info"
			markerType="tubame.portability.DifficultyMiddleMarker">
		</type>
		<type name="DifficultyHighMarkerTypeAnnotation" super="org.eclipse.ui.workbench.texteditor.info"
			markerType="tubame.portability.DifficultyHighMarker">
		</type>
		<type name="DifficultyUnknownMarkerTypeAnnotation" super="org.eclipse.ui.workbench.texteditor.info"
			markerType="tubame.portability.DifficultyUnknownMarker">
		</type>
		<type name="DifficultyNotTrnMarkerTypeAnnotation" super="org.eclipse.ui.workbench.texteditor.info"
			markerType="tubame.portability.DifficultyNotTrnMarker">
		</type>
	</extension>

	<!-- org.eclipse.ui.popupMenus -->
	<extension point="org.eclipse.ui.popupMenus">
		<!-- ShowConvertViewAction -->
		<objectContribution id="Contribution" objectClass="org.eclipse.core.resources.IFile"
			nameFilter="*.cxml" adaptable="true">
			<menu id="tubame.menu1" label="%menu.name"
				path="additions">
				<separator name="portability"/>
			</menu>
			<action id="ShowConvertAction"
				class="tubame.portability.plugin.action.ShowConvertViewAction"
				label="%menu.convert.view.name" menubarPath="tubame.menu1/portability"
				enablesFor="1">
			</action>
		</objectContribution>
		<!-- WizardAction -->
		<objectContribution id="Contribution" objectClass="org.eclipse.core.resources.IResource"
			adaptable="true">
			<menu id="tubame.menu1" label="%menu.name"
				path="additions">
				<separator name="portability"/>
			</menu>
			<!-- ShowConvertWizardAction -->
			<!-- ShowSearchWizardAction -->
			<action
				class="tubame.portability.plugin.action.ShowSearchWizardAction"
				id="ShowSearchWizardAction" enablesFor="1" label="%menu.search.name"
				menubarPath="tubame.menu1/portability">
			</action>
		</objectContribution>
  <objectContribution
        adaptable="true"
        id="Contribution"
        objectClass="org.eclipse.core.resources.IResource">
     <menu
           id="tubame.menu1"
           label="%menu.name"
           path="additions">
        <separator
              name="portability">
        </separator>
     </menu>
     <action
           class="tubame.portability.plugin.action.ReportGenWizardAction"
           enablesFor="1"
           id="ReportGenWizardAction"
           label="%menu.reportgen.name"
           menubarPath="tubame.menu1/portability">
     </action>
  </objectContribution>
	</extension>

</plugin>
